.tela{
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  justify-content: center;
  align-items: flex-start;
  background-color: #434144;
  flex-direction: column;
  width: 260px;
}

.telaop{
  font-size: 25px;
  color: #fff;
  height: 20px;
}

.telares{
  font-size:50px;
  color: #fff;
}

.botao{
  font-size: 30px;
  height: 75px;
  width: 75px;
  padding: 20px;
  background-color:rgb(72, 72, 204);
  color: #fff;
  border-color:rgb(72, 72, 204);
  text-align: center;
  outline: none;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  border: 1px solid rgb(72, 72, 204);
  background-color: rgb(72, 72, 204);
  }



  .botoes{
    flex-direction: row;
    flex-wrap: wrap;
  }